@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0B0B;
  --foreground: #F5F5F5;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
}

::selection {
  background: #D1FA4A22;
  color: #D1FA4A;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #111111;
}
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 2px;
}
